<!DOCTYPE html>
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="css/index.css" type="text/css" rel="stylesheet">
  </head>

  <body>
    <div class="container" style="text-align: center;">

      <div class="intro">
        <h1>
          Biochem 100 Project 5 Individual Submission
        </h2>
        <h2>
          Tommy Nguyen
        </h2>
      </div>

      <div class="row biocontainer" style="text-align: center;">
        <div class="col-md-4">
          <div style="border: 3px solid black; background-color: white;">
            DNA to RNA
          </div>
          <div class="translation">
            Hello
          </div>
        </div>

        <div class="col-md-4">
          <div style="border: 3px solid black; background-color: white;">
            RNA to DNA
          </div>
        </div>

        <div class="col-md-4">
          <div style="border: 3px solid black; background-color: white;">
            Complementary
          </div>
        </div>
      </div>


    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/home.js"></script>
  </body>
</html>
