body {
  background: url(../img/umass.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {

}

.biocontainer {

  text-align: center;
}

.translation {
  background-color: white;
  border: 3px solid black;
  border-top: none;
}

.biocontainer * {
  text-align: center;
  padding: 20px;
}

.translation * {
  padding: 10px;
}

.intro {
  color: blue;
}
