<!DOCTYPE html>
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="css/index.css" type="text/css" rel="stylesheet">
    <link href="css/hover-min.css" type="text/css" rel="stylesheet">
  </head>

  <body>
    <div class="container" style="text-align: center;">

      <div class="intro">
        <h1>
          Biochem 100 Project 5 Individual Submission
        </h2>
        <h2>
          Tommy Nguyen
        </h2>
      </div>

      <div class="row biocontainer" style="text-align: center;">
        <div class="col-md-4 hvr-hang">
          <div style="border: 3px solid black; background-color: white;">
            Translate DNA to Complementary RNA
          </div>
          <div class="translation dnaToRna">
            <form action="demo_form.asp" method="get">
              DNA Strand: <input id="dna" type="text" name="lname"><br>
            </form>
            <button class="btn-success" name="hello" value="what" onClick="dnaToRna()"> Translate! </button>
          </div>
        </div>

        <div class="col-md-4 hvr-hang">
          <div style="border: 3px solid black; background-color: white;">
            Translate RNA to Complementary DNA
          </div>
          <div class="translation rnaToDna">
            <form action="demo_form.asp" method="get">
              RNA Strand: <input id="rna" type="text" name="lname"><br>
            </form>
            <button class="btn-success" name="hello" value="what" onClick="rnaToDna()"> Translate! </button>
          </div>
        </div>

        <div class="col-md-4 hvr-hang">
          <div style="border: 3px solid black; background-color: white;">
            Translate DNA to Complementary DNA
          </div>
          <div class="translation complementary">
            <form action="demo_form.asp" method="get">
              DNA Strand: <input id="complement" type="text" name="lname"><br>
            </form>
            <button class="btn-success" name="hello" value="what" onClick="complementary()"> Translate! </button>
          </div>
        </div>
      </div>


    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/home.js"></script>
  </body>
</html>
